body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

li {
  background-color: #e97; padding: 0px; margin-bottom: 10px; width: 2em;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  list-style: none;
  color: #a20;
  height: 2em;
  line-height: 2.2em;
  padding: 0 0em;
  overflow: hidden;
}

.foo-enter {
  height: 0; margin-bottom: 0;
  transition: all 0.3s ease-in;
}

.foo-leave {
  height: 0; margin-bottom: 0;
  transition: all 0.3s ease-in;
}

.foo-enter-active {
  height: 2em; margin-bottom: 10px;
  opacity: 1;
}