body {
 margin: 0px;
}

.panel {
    height: 200px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f3f7ff;
    border-top: 1px solid #b0b0ff;
}

.controls {
    margin: 30px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 14px;
  cursor: pointer;

  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #707070;
}
input[type=range]::-webkit-slider-thumb {

  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eeeeee;
}

.vertex {
    cursor: pointer;
}
